@model TheatreManagement.Models.Role
<div class="row mb-2">
    <div class="col-10">
        @Html.DropDownListFor(x => x.RoleId, ViewBag.roles as SelectList, "----Select----", htmlAttributes: new { @class = "form-select form-select-sm" })
    </div>
    <div class="col-2">
        <a href="#" id="btnDelete" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i>Delete</a>
    </div>
</div>
